<div class="container">
  <div class="row my-4">
    <h2>Log in (Admin)</h2>
  </div>

  <div class="row-8">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="col my-4">
        <%= f.label :email %><br />
        <%= f.email_field :email, :size => "50", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="col my-4">
        <%= f.label :password %><br />
        <%= f.password_field :password, :size => "50", autocomplete: "current-password" %>
      </div>

      <div class="col">
        <%= f.submit "Log in", class: "btn btn-info my-4 sign_in" %>
      </div>
    <% end %>


  </div>

</div>