<div class="container">
  <div class="row">

    <div class="col-10">
      <div class="row my-4">
        <h3 class="mr-5">Member Page</h3>
        <p class="mx-5">Name: <%= @member.name %></p>
        <p class="mx-5">MemberID: <%= @member.id %></p>
        <% unless current_member.guest_member? %>
          <div><%= link_to "Edit", edit_information_path, class: "btn btn-success" %></div>
        <% end %>
      </div>

      <div class="row">
        <% @spots.each do |spot| %>
          <%= link_to spot_path(spot) do %>
          <div class="card mx-2" style="width: 18rem;">
            <%= image_tag spot.get_image, class: "card-image-top justify-cotent-center", style: "padding: 5px; width: 288px; height: 250px;" %>
              <div class="card-body">
                <h5 class="card-title"><%= spot.title %> (<%= spot.tag.name %>)</h5>
              </div>
              <div class="text-center" id="favorite_buttons_<%= spot.id %>">
                <p class="card-text my-2">
                  <%= render "public/favorites/favorite", spot: spot %>
                </p>
              </div>
              <div class="text-center">
                <p>コメント数: <%= spot.comments.count %></p>
              </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-2 my-4">
      <%= render "public/relationships/follow" , member: @member %>
    </div>

  </div>

</div>