<div class="container">
  <%= form_with model:spot, url: url do |f| %>
  <div class="d-flex justify-content-center flex-column row">
    <div class="text-center"><h4>新規登録</h4></div>

    <div class="text-center my-2 btn btn-secondary">
      <p>
        <%= f.label :image, "画像選択" %><br>
        <%= f.file_field :image,  accept:'image/*', class: "mb-2" %>
      </p>
    </div class="text-center">
      <p>※画像未選択の場合は、「画像準備中」になります。</p>
    <div>
      <p></p>
    </div>

    <div class="text-center my-2">
      <P>
        <%= f.label :title, "タイトル" %>:
        <%= f.text_field :title %>
      </P>
    </div>

    <div class="text-center my-2">
      <p>
        <%= f.label :tag_id, "タグ" %>:
        <%= f.collection_select :tag_id, Tag.all, :id, :name %>
      </p>
    </div>

    <div class="text-center my-2">
      <h4><%= f.label :description, "説明文" %></h4>
      <div><%= f.text_area :description, rows: 7 %></div>
    </div>

    <div class="text-center my-2">
      <p>
        <%= f.label :address, "住所" %>:
        <%= f.text_field :address, id: "spot_address" %>
      </p>
    </div>

    <div class="text-center mt-2">
      <p>
        <%= f.label :latitude, "緯度", for: "spot_latitude" %>:
        <%= f.text_field :latitude, id: "spot_latitude" %>
      </p>
    </div>


    <div class="text-center mb-2">
      <p>
        <%= f.label :longitude, "経度", for: "spot_longitude" %>:
        <%= f.text_field :longitude, id: "spot_longitude" %>
      </p>
    </div>

    <div class="text-center my-2">
      <%= f.submit "投稿する", class: "btn btn-success" %>
    </div>
  </div>
  <% end %>
</div>