<div class="container">
  <%= form_with model:spot, url: url do |f| %>
  <div class="d-flex justify-content-center flex-column row">
    <div class="text-center"><h4>新規登録</h4></div>

    <div class="text-center my-2">
      <h4><%= f.label :image, "画像" %></h4>
      <div>
        <%= f.file_field :image,  accept:'image/*', class: "mb-2" %>
      </div>
    </div>

    <div class="text-center my-2">
      <h4><%= f.label :title, "タイトル" %></h4>
      <div><%= f.text_field :title %></div>
    </div>

    <div class="text-center my-2">
      <h4><%= f.label :tag_id, "タグ" %></h4>
      <div><%= f.collection_select :tag_id, Tag.all, :id, :name %></div>
    </div>

    <div class="text-center">
      <h4><%= f.label :description, "説明文" %></h4>
      <div><%= f.text_area :description, rows: 5 %></div>
    </div>

    <div class="text-center my-2">
      <h4><%= f.label :latitude, "緯度" %></h4>
      <div><%#= f.text_field :latitude, id: "spot_latitude" %></div>
    </div>

    <div class="text-center my-2">
      <h4><%= f.label :longitude, "経度" %></h4>
      <div><%#= f.text_field :longitude, id: "spot_longitude" %></div>
    </div>

    <div class="text-center my-2">
      <%= f.submit "投稿する", class: "btn btn-success" %>
    </div>

  </div>
  <% end %>
</div>