<table class="table">
  <thead class="bg-light">
    <th>Title</th>
    <th>Tag</th>
    <th>Name</th>
    <th>Address</th>
    <th></th>
  </thead>

  <tbody>
    <% spots.each do |spot| %>
      <tr>
        <td class="align-middle"><%= spot.title %></td>
        <td class="align-middle"><%= spot.tag.name %></td>
        <td class="align-middle"><%= spot.member.name %></td>
        <td class="align-middle"><%= spot.address %></td>
        <td class="align-middle"><%= link_to "show", admin_spot_path(spot.id), class: "btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>