<header>
  <div class="header-content">

    <ul class="flex">
      <% if admin_signed_in? %>
        <li><%= link_to 'Members',  admin_members_path %></li>
        <li><%= link_to 'Spots',  admin_Spots_path %></li>
        <li><%= link_to 'Tags',  admin_tags_path %></li>
        <li><%= link_to 'Contact',  admin_contact_path %></li>
        <li><%= link_to 'Log out', destroy_admin_session_path, method: :delete %></li>
      <% elsif member_signed_in? %>
        <p>ようこそ、<%= current_customer.name %>さん!</p>
        <li><%= link_to 'Log out', destroy_member_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Sign up', new_member_registration_path %></li>
        <li><%= link_to 'Log in', new_member_session_path %></li>
      <% end %>
    </ul>

  </div>
</header>