<!DOCTYPE html>
<html>
  <head>
    <title>FukuokaExplorerNavi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/392b1e8b56.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="bg-primary mb-4">
      <h1>FUKUOKA</h1>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer class="fixed-bottom bg-primary mt-4"><h1>Copyright © Infratop Inc. All Rights Reserved.</h1></footer>
  </body>


</html>
